<!DOCTYPE html>
<html>

<head>

</head>

<body>
<h1>Add a New Book</h1>
  <div>
    <form action="/books" method="POST">
      <label>Name:</label><br>
      <input type="text" name="name"><br>
      <label>Author:</label><br>
      <input type="text" name="author"><br>
      <label>Summary:</label><br>
      <input type="text" name="summary"><br><br>
      <input type="submit">
    </form>
  </div>
</body>
</html>
